#start {
	margin-top: 150px;
}

#done {
	margin: 20px 0px 50px 0px;
}

img {
	width: 250px;
	height: 125px;
}

form {
	margin: 20px 0px 70px 0px;
}

@font-face {
	font-family: 'AlteHaasGroteskBold';
	src: url('AlteHaasGroteskBold.TTF')
}

#headline h1,
#log h3,
#questions h2,
#timeleft h2 {
	font-family: 'AlteHaasGroteskBold';
}

/*#log h3 {
	font-family: 'AlteHaasGroteskBold';
}*/